@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins' sans-serif;
    color: #222;
}

.navbar-brad img {width: 100px}      /*размер лого*/

.navbar-nav li { /*каждый лист-итем*/
    padding-right: 20px;


}
.nav-item a:hover {/*при наведении на меню*/
    color: orange !important;
    font-size: 20px;
}

.nav-link {font-size: 1.1em !important;} /*меняем размер каждой ссылки, импортант чтобы перебить бутстрап*/

.carousel_inner {/*блок фона*/
    height: 870px;
    width: auto;

}

.carousel_inner img{
    max-width: 100%;
    height: auto;
}
@media (min-width: 1100px) { /*адаптируем под 1100px*/
    .carousel_inner img{
        width: 100%;
    }
}
.carousel-caption { /*стили заголовка*/
    position: absolute;
    top: 50%; /*отуступ сверху половина*/
    transform: translateY(-80%); /*поднимем по Y на 80%*/
    text-shadow: 1px 1px 10px #000;/*тень обводка*/
}

@media (max-width: 450px) { /*при макс ширине 450 то у текста размер 3em*/
    .carousel-caption .display-2 {
        font-size: 3em;
    }
}
.jumbotron {/*серый блок с текстом*/
    padding: 1em;
    border-radius: 0;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
.padding {/*Сетка, отступы снизу*/
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

.alert hr { /*серая линия под заголовком*/
    border-top: 2px solid #f0f0f0;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.fa-code {color:#e54d26} /*символы*/
.fa-bold{color:#563d7c} /*символы*/
.fa-css3 {color:#2163af} /*символы*/

.fa-code, .fa-bold, .fa-css3 { /*увеличим иконки*/
    font-size: 4em;
    margin: 1em;

}


#fixed {
    height: 400px;
    border-top: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    background: url("../img/bg.jpg") no-repeat center center fixed;/*выйдем из css зайдем в img*/  /*не повторять, цетр вертикал/гориз/фиксированная*/
    background-blend-mode: multiply;/*несколько слоев на фоне*/
    background-color: pink;/*сверху красный фон*/
    background-size: cover;/*на весь размер стр*/
    -o-background-size: cover;/*опера*/
    -moz-background-size: cover;/*мозила*/
    -webkit-background-size: cover;/*сафари*/
}

#gifsBtn {
    margin-bottom: 20px; /*у кнопки отступ снизу 20*/
}

#gifs img { /*блок с картинками*/
    max-width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
@media (max-width: 750px){ /*уменьшаем заголовок*/
    .display-4 {
        font-size: 1.5em;
    }
}

.social a {
    font-size: 4em;
    padding: 20px;
}
.fa-facebook {color: #3b5998}
.fa-instagram {color: #517fa4}
.fa-twitter {color: #00aced}
.fa-youtube {color: #bb0000}
.fa-google-plus-g {color: #dd4b39}

.fa-facebook:hover, .fa-facebook:hover,
.fa-facebook:hover, .fa-facebook:hover,
.fa-facebook:hover {
    color: #ccc;
}

footer {
    background-color: #3f3f3f;
    padding-top: 50px;
    border-top: 4px solid silver;
    color: white;
}



.card img {
    height: 200px;
    width: auto;
}